.headline-block__search-block {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.headline-block__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(41, 41, 41, 0.8);
    padding: 79px 24px 60px 21px;
}

.headline-block__form-direction {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 20px 0 40px;
}

.headline-block__form-label {
    padding-left: 10px;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.headline-block__form-date {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 34px;
}

.headline-block__form-start, .headline-block__form-return {
    width: 322px;
    padding: 20px 73px 20px 20px;
    font-size: 18px;
    font-weight: 400;
}

.headline-block__btn-box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 132px;
}