.search-secondary__form {
    display: flex;
    justify-content: space-between;
    padding: 28px 40px 80px;
    flex-wrap: wrap;
    width: 77%;
    background-color: rgba(41, 41, 41, 0.8);
    margin: 111px auto 0;
}

.search-secondary__form-direction {
    display: flex;
    gap: 5px;
    margin-top: 13px;
}

.search-secondary__form-label {
    font-size: 30px;
    padding-left: 10px;
    font-weight: 300;
    color: #fff;
}

.search-secondary__form-to, .search-secondary__form-back {
    width: 322px;
    padding: 20px 73px 20px 20px;
    font-size: 18px;
    font-weight: 400;
}

.search-secondary__date {
    display: flex;
    gap: 34px;
    margin-top: 13px;
}

.search-secondary__btn-box {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 60px;
}

